<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layoutAdmin/_layout}">
<head>
<meta charset="utf-8" />
<title>Account</title>
</head>

<body class="">
	<div  >
		<div layout:fragment="content" >
		
				<div class="content" style="margin-left: 130px; margin-top: 100px;">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header card-header-primary" style="height: 150px" >
										<h4 class="card-title ">Account</h4>
										<ul class="nav">
											<li class="nav-item "><a class="nav-link"><a>Account</a></li>
										</ul>

										<ul>
											<a class="nav-link" href="/admin/addAccount"
												style="color: #ffff; margin-left: 650px; color: #ffff; margin-bottom: 250px;">
												<p style="color: #ffff;">
													<button type="button" class="btn btn-danger">Add
														account</button>
												</p>
											</a>
										</ul>

									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead class=" text-primary">
													<th>image</th>
													<th>ID</th>
													<th>Name</th>
													<th>User Role</th>
													<th>Action</th>
												</thead>
												<tbody>

													<tr th:each="accountInfo : ${paginationAccount}">
														<td><img class="img-fluid"
															th:src="@{|/accounttImage?id=${accountInfo.id}|}"
															height="50" width="75" /></td>
														<td th:utext=${accountInfo.id}></td>
														<td th:utext="${accountInfo.userName}"></td>
														<td th:utext="${accountInfo.userRole}"></td>



														<td><a
															th:href="    @{|/admin/editAccount?id=${accountInfo.id}|}">
																<button class="btn btn-warning">
																	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
																</button>
														</a> <a
															th:href="@{|/admin/deleteaccount?id=${accountInfo.id}|}">
																<button class="btn btn-danger">
																	<i class="fa fa-trash" aria-hidden="true"></i>
																</button>
														</a></td>
													</tr>

												</tbody>
											</table>
										</div>
										<div class="container">
											<div th:include="paging"
												th:with="pagination=${pagination},routingName='admin/accountList'" style="margin-left: 700px;"></div>
										</div>
									</div>




								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
