<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layoutAdmin/_layout}">
<head>
<meta charset="utf-8" />
<title>Product</title>
</head>

<body class="">
	<div class="container ">
		<div layout:fragment="content">

			<div class="content" style="margin-left: 130px; margin-top: 100px;">
				<div class="">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary"
									style="height: 150px;">
									<h4 class="card-title ">Product</h4>
									<ul class="nav">
										<li class="nav-item "><a class="nav-link"><a>Product</a></li>
									</ul>

									<ul>
										<a class="nav-link" href="/admin/addProduct"
											style="color: #ffff; margin-left: 650px; color: #ffff;">
											<p style="color: #ffff;">
												<button type="button" class="btn btn-danger">Add
													Product</button>
											</p>
										</a>
									</ul>

								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead class=" text-primary">
												<th>Image</th>
												<th>Code</th>
												<th>Name</th>
												<th>Price</th>
												<th>Action</th>
											</thead>
											<tbody>
												<tr th:each="productInfo : ${paginationProducts}">
													<td><img class="img-fluid"
														th:src="@{|/productImage?id=${productInfo.id}|}"
														height="50" width="75" /></td>
													<td th:utext="${productInfo.code}"></td>
													<td th:utext="${productInfo.name}"></td>
													<td th:utext="${productInfo.price}"></td>
													<td><a
														th:href="@{|/admin/editProduct?id=${productInfo.id}|}">
															<button class="btn btn-warning">
																<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
															</button>
													</a> <a
														th:href="@{|/admin/deleteProduct?id=${productInfo.id}|}">
															<button class="btn btn-danger">
																<i class="fa fa-trash" aria-hidden="true"></i>
															</button>
													</a></td>
												</tr>

											</tbody>
										</table>
									</div>
									<div th:include="paging"
										th:with="pagination=${pagination},routingName='admin/productList'"
										style="margin-left: 600px;"></div>
								</div>



							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
