<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout/_layout}">
<head>
<meta charset="UTF-8">
<title>Books Shop Online</title>
</head>
<body>
	<!-- Page Content -->
	<div layout:fragment="content" class="container">


		<div class="container">
			<div class="card-body">

				<div class="row">
					<div class="col-sm-6 col-md-4 col-xl-3" style="margin: 20px 0px"
						th:each="prodInfo : ${paginationProducts}" >
						<div class="card h-100"  >
						<a th:href="@{|/buyProduct?id=${prodInfo.id}|}" type="button" style="witdh: 280px; height: 300px; padding-bottom: 10px;" 
										class="btn btn-light">
							<img class="img-fluid"
								th:src="@{|/productImage?id=${prodInfo.id}|}"
								style="witdh: 270px; height: 290px;"  />
								</a>
							<div class="card-body">
								<p class="card-text">
									Code: <span th:utext="${prodInfo.code}"></span>
								</p>
								<p class="card-text">
									Name: <span th:utext="${prodInfo.name}"></span>
								</p>
								<p class="card-text">
									Price: <span
										th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
								</p>
								
							<!-- 	<p class="card-text">
									<a th:href="@{|/buyProduct?id=${prodInfo.id}|}" type="button"
										class="btn btn-primary">Buy Now</a>
								</p>  -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<div th:include="paging"
				th:with="pagination=${pagination},routingName='./home',routingSearch=${searchName}"></div>

		</div>
	</div>
	<!-- /.container -->
</body>

</html>
