<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout/_layout}">
<head>
<meta charset="UTF-8">
<title>Books Shop Online</title>
</head>
<body>
	<!-- Page Content -->
	<div layout:fragment="content" class="container">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-md-4 col-xl-3" style="margin: 20px 0px"
					th:each="products : ${paginationProducts}">
					<div class="card h-100">
						<img class="img-thumbnail "
							th:src="@{|/productImage?id=${products.id}|}"
							style="witdh: 250px; height: 250px; object-fit: contain;" />
						<div class="card-body">
							<p class="card-text">
								Code: <span th:utext="${products.code}"></span>
							<p class="card-text">
								Name: <span th:utext="${products.name}"></span>
							</p>
							<p class="card-text">
								Price: <span
									th:utext="${#numbers.formatDecimal(products.price,3,2,'COMMA')}"></span>
							</p>
							<p class="card-text">
								<a th:href="@{|/buyProduct?id=${products.id}|}">Buy Now</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div th:include="paging"
				th:with="pagination=${pagination},routingName=home"></div>
			<!-- <div class="col-sm-12 col-md-7">
				<nav aria-label="Pagination">
					<ul class="pagination justify-content-end">
						<li class="page-item"
							th:classappend="${paginationProducts.number == 0} ? 'disabled'">
							<a class="page-link svg-icon"
							th:href="@{|/listProduct/?page=${paginationProducts.number}|}"
							th:text=Previous></a>
						</li>
						<li class="page-item" th:each="pageNumber : ${paging}"><a
							class="page-link" th:href="@{|/listProduct/?page=${pageNumber}|}"
							th:text=${pageNumber}>1</a></li>
						<li class="page-item"
							th:classappend="${paginationProducts.number + 1 == paginationProducts.totalPages  } ? 'disabled' ">
							<a class="page-link svg-icon"
							th:href="@{|/listProduct/?page=${paginationProducts.number+2}|}" th:text=Next></a>
						</li>
					</ul>
				</nav>
			</div> -->


			<!-- /.row -->

			<!--  <div class="page-navigator"
			th:if="${paginationProducts.totalPages > 1}">
			<th:block th:each="page : ${paginationProducts.navigationPages}">

				<a th:href="@{|/home?page=${page}|}" th:if="${page != -1}"
					class="nav-item" th:utext="${page}"></a>

				<span class="nav-item" th:if="${page == -1}"> ... </span>

			</th:block>
		</div>  -->

		</div>
	</div>
	<!-- /.container -->
</body>

</html>
