<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layoutAdmin/_layout}">
<head>
<meta charset="UTF-8">
<title>Order List</title>
</head>
<body>
<body class="">
	<div class="wrapper ">
		<div layout:fragment="content">

			<div class="content" style="margin-left: 120px; margin-top: 100px;">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card card-plain">
								<div class="card-header card-header-primary">
									<h4 class="card-title mt-0">Order List</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead class="">
												<th>Order Num</th>
												<th>Order Date</th>
												<th>Order Name</th>
												<th>Customer Adress</th>
												<th>Customer Email</th>
												<th>Amount</th>
												<th>View</th>
											</thead>
											<tbody>
												<tr th:each="orderInfo : ${paginationOrder}">
													<td th:utext="${orderInfo.orderNum}"></td>
													<td
														th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></td>
													<td th:utext="${orderInfo.customerName}"></td>
													<td th:utext="${orderInfo.customerAddress}"></td>
													<td th:utext="${orderInfo.customerEmail}"></td>
													<td style="color: red;"
														th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}"></td>
													<td><a th:href="@{|/admin/order?id=${orderInfo.id}|}"><i
															class="material-icons">visibility</i></a></td>
												</tr>
											</tbody>
										</table>
										<div class="row">
											<div th:include="paging"
												th:with="pagination=${pagination},routingName='admin/orderList'"
												style="margin-left: 710px;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>