<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layoutAdmin/_layout}">
<head>
<meta charset="UTF-8">
<title>Order List</title>
</head>
<body>
<body class="">
	<div class="wrapper ">
		<div layout:fragment="content">
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card card-plain">
									<div class="card-header card-header-primary">
										<h4 class="card-title mt-0">Order List</h4>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover">
												<thead class="">
													<th>Product Code</th>
													<th>Product Name</th>
													<th>Quantity</th>
													<th>Price</th>
													<th>Amount</th>
												</thead>
												<tbody>
													<tr th:each="orderDetailInfo : ${orderInfo.details}">
														<td th:utext="${orderDetailInfo.productCode}"></td>
														<td th:utext="${orderDetailInfo.productName}"></td>
														<td th:utext="${orderDetailInfo.quanity}"></td>
														<td
															th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
														<td
															th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Customer Information</h4>
								</div>
								<div class="card-body">
									<form>
										<div class="row">
											<div class="col-md-8">
												<div class="form-group">
													<label class="bmd-label-floating">Name </label> <input
														type="text" class="form-control"
														th:utext="${orderInfo.customerName}" disabled>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="bmd-label-floating">Phone</label> <input
														type="text" class="form-control"
														th:utext="${orderInfo.customerPhone}" disabled>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="bmd-label-floating">Email</label> <input
														type="text" class="form-control"
														th:utext="${orderInfo.customerEmail}" disabled>
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<label class="bmd-label-floating">Address</label> <input
														type="text" class="form-control"
														th:utext="${orderInfo.customerAddress}" disabled>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="bmd-label-floating">ToTal</label> <input
														type="text" class="form-control"
														th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}"
														disabled>
												</div>
											</div>
											<div class="clearfix"></div>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- Endtable -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>