<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout/_layout}">
<head>
<meta charset="UTF-8">
<title>Shopping Cart Confirmation</title>

</head>
<body>

	<div layout:fragment="content" class="container">
		<div class="container">
			<div th:each="cartLineInfo : ${myCart.cartLines}">
				<!--  -->

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Image</th>
							<th scope="col">Code</th>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"><img class="product-image"
								style="width: 110px; height: 90px;"
								th:src="@{|/productImage?id=${cartLineInfo.productInfo.id}|}" /></th>
							<td><span th:utext="${cartLineInfo.productInfo.code}"></td>
							<td><span th:utext="${cartLineInfo.productInfo.name}"></td>
							<td><span class="price"
								th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
							</span></td>
							<td><span th:utext="${cartLineInfo.quantity}"></span></td>
							<td><span class="subtotal"
								th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
							</span></td>

						</tr>

					</tbody>
				</table>
			</div>

			<div class="customer-info-container">
				<div class="form-group">
					<h3>Customer Information:</h3>
					<h5>Name</h5>
					<label class="form-control" th:utext="${myCart.customerInfo.name}"></label>
				</div>
				<div class="form-group">
					<h5>Email</h5>
					<label class="form-control" th:utext="${myCart.customerInfo.email}"></label>
				</div>
				<div class="form-group">
					<h5>Phone</h5>
					<label class="form-control" th:utext="${myCart.customerInfo.phone}"></label>
				</div>
				<div class="form-group">
					<h5>Address</h5>
					<label class="form-control"
						th:utext="${myCart.customerInfo.address}"></label>
				</div>
				<div class="form-group">
					<h5>Quantity</h5>
					<label class="form-control" th:utext="${myCart.quantityTotal}"></label>
				</div>
				<div class="form-group">
					<h5>Price</h5>
					<label class="form-control"
						th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}"></label>
				</div>
			</div>
			<form method="POST" th:action="@{/shoppingCartConfirmation}">
				<button type="button" class="btn btn-info">
					<a class="btn btn-info" th:href="@{/shoppingCart}"> Edit Cart </a>
				</button>
				&nbsp;|&nbsp;
				<!-- Edit Customer Info -->
				<button type="button" class="btn btn-secondary">
					<a class="btn btn-secondary" th:href="@{/shoppingCartCustomer}">
						Edit Customer Info </a>
				</button>
				&nbsp;|&nbsp;
				<!-- Send/Save -->
				<input type="submit" value="Send" class="btn btn-success" />

			</form>

			<br /> <br />
		</div>
	</div>
</body>
</html>