<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:layout="_header" xmlns:th="http://www.w3.org/1999/xhtml">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Online SHOP</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent"
					xmlns:th="http://www.thymeleaf.org"
					xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/shoppingCart}">My Cart <span class="sr-only">(current)</span>
						</a></li>
						<form class="navbar-form">
						<div class="input-group no-border">
							<input type="text" name="name" class="form-control"
								placeholder="Search...">
							<button type="submit"
								class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i>
								<div class="ripple-container"></div>
							</button>
						</div>
					</form>
						<th:block
							sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
							<li><a class="nav-link" th:href="@{/admin/orderList}">
									Order List <span class="sr-only">(current)</span>
							</a></li>
						</th:block>
						<th:block sec:authorize="hasRole('ROLE_MANAGER')">
							<li><a class="nav-link" th:href="@{/admin/productList}">
									Create Product </a><span class="sr-only">(current)</span></li>
						</th:block>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
							<th:block sec:authorize="!isAuthenticated()">
								<li class="nav-item active"><a class="nav-link"
									th:href="@{/login}">Login <span class="sr-only">(current)</span>
								</a></li>
							</th:block>
						</ul>
						<ul class="navbar-nav mr-auto">
							<th:block sec:authorize="isAuthenticated()">
								<li class="nav-item active"><a
									th:href="@{/admin/accountInfo}"
									th:utext="${#request.userPrincipal.name}">..</a> &nbsp;|&nbsp;
									<a th:href="@{/admin/logout}">Logout<span class="sr-only">(current)</span>
								</a></li>
							</th:block>
						</ul>
					</form>
				</div>
			</nav>
		</div>
		<div class="container">
			<div id="carouselExampleControls" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner" style="width: 1110px; height: 450px;">
					<div class="carousel-item active">
						<img
							src="https://zicxa.com/hinh-anh/wp-content/uploads/2019/06/T%E1%BB%95ng-h%E1%BB%A3p-nh%E1%BB%AFng-h%C3%ACnh-%E1%BA%A3nh-%C4%91%E1%BA%B9p-v%E1%BB%81-bi%E1%BB%83n-4-1-750x422.jpg"
							class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item" th:each="top5product : ${top5Products}">
						<img th:src="@{|/productImage?id=${top5product.id}|}"
							width="900px" height="350px" class="d-block w-100" alt="..."><span class="sr-only">(current)</span>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleControls"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>

	</header>

</body>
</html>